  .form{
    background-color: #19173D;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
  
  .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
  }
  
  .vector1 svg{
    width: 33rem;
    height: 19rem;
    flex-shrink: 0;
  }
  
  .vector2 svg{
    width: 34.25rem;
    height: 20rem;
    flex-shrink: 0;
  }
  
  .vector3 svg{
    width: 26rem;
    height: 22rem;
    flex-shrink: 0;
    transform: rotate(-32deg);
    -webkit-transform: rotate(-32deg);
    -moz-transform: rotate(-32deg);
    -ms-transform: rotate(-32deg);
    -o-transform: rotate(-32deg);
  }
  
  .right{
    width: 60%;
    height: 100%;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }
  
  .title{
    padding: 50px;
  }
  
  form{
    gap: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .name label::after, .email label::after, .pw label::after{
    content: "*";
    color: red;
  }
  